
Server-side/Surveys.BusinessLogic/obj/Debug/netcoreapp3.1/Surveys.BusinessLogic.assets.cache
Server-side/Surveys.BusinessLogic/obj/Debug/netcoreapp3.1/Surveys.BusinessLogic.csprojAssemblyReference.cache
Server-side/Surveys.BusinessLogic/obj/project.assets.json
Server-side/Surveys.BusinessLogic/obj/project.nuget.cache
Server-side/Surveys.BusinessLogic/obj/Surveys.BusinessLogic.csproj.nuget.dgspec.json
Server-side/Surveys.WebAPIService/obj/Debug/netcoreapp3.1/Surveys.WebAPIService.assets.cache
Server-side/Surveys.WebAPIService/obj/Debug/netcoreapp3.1/Surveys.WebAPIService.csprojAssemblyReference.cache
Server-side/Surveys.WebAPIService/obj/project.assets.json
Server-side/Surveys.WebAPIService/obj/project.nuget.cache
Server-side/Surveys.WebAPIService/obj/Surveys.WebAPIService.csproj.nuget.dgspec.json
