<h1>Surveys's Home</h1>
<p>A list of all available surveys is listed above:</p>
<!--<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>-->
<p *ngIf="!surveys"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="surveys">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Descr</th>
      <th>Status</th>
      <th>Detail</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let survey of surveys;">
      <tr *ngFor="let chart of charts; first as isFirst">
        <div *ngIf="isFirst; then pariBlock else disBlock"></div>
        <ng-template #pariBlock>
          <td>{{ survey.seid }}</td>
          <td>{{ survey.title }}</td>
          <td>{{ survey.tescr }}</td>
          <td style="width:60px">
            <div *ngIf="survey.customField02 == 0; then closeBlock else openBlock"></div>
            <ng-template #closeBlock><span class="circle" style="background-color:red"></span></ng-template>
            <ng-template #openBlock><span class="circle" style="background-color:limegreen"></span></ng-template>
          </td>
          <td style="width:40px">
            <button class="btn btn-link" value="Detail" id="detail" (click)="onDetail(survey.seid)" [disabled]="survey.customField02 == 0">Detail</button>
          </td>
        </ng-template>
        <ng-template #disBlock>
          <td colspan="4">
            <div style="display: block" *ngIf="signalRService.data && survey.customField02 == 1 && showDetail[survey.seid]">
              <canvas baseChart
                      [datasets]="signalRService.data"
                      [labels]="chartLabels"
                      [options]="chartOptions"
                      [legend]="chartLegend"
                      [chartType]="chartType"
                      [colors]="colors"
                      (chartClick)="chartClicked($event)">
              </canvas>
            </div>
          </td>
        </ng-template>
      </tr>
    </ng-container>
  </tbody>
</table>
