<h1>Surveys's Home</h1>
<p>A list of all available surveys is listed above:</p>

<p *ngIf="!surveys"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="surveys">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Descr</th>
      <th>Status</th>
      <th>Detail</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let survey of surveys;">
      <tr *ngFor="let chart of charts; first as isFirst">
        <div *ngIf="isFirst; then pariBlock else disBlock"></div>
        <ng-template #pariBlock>
          <td>{{ survey.seid }}</td>
          <td>{{ survey.title }}</td>
          <td>{{ survey.tescr }}</td>
          <td style="width:60px">
            <div *ngIf="survey.customField02 == 0; then closeBlock else openBlock"></div>
            <ng-template #closeBlock><span class="circle" style="background-color:red"></span></ng-template>
            <ng-template #openBlock><span class="circle" style="background-color:limegreen"></span></ng-template>
          </td>
          <td style="width:40px">
            <button class="btn btn-link" value="Detail" id="detail" (click)="onDetail(survey.seid)" [disabled]="survey.customField02 == 0">Detail</button>
          </td>
        </ng-template>
        <ng-template #disBlock>
          <td colspan="4" style='border-top:none'>
            <div style="display: block" *ngIf="signalRService.data[survey.seid] && survey.isOpen == 1  && showDetail[survey.seid]">
              <canvas baseChart
                      [datasets]="signalRService.data[survey.seid]"
                      [labels]="chartLabels[survey.seid]"
                      [options]="chartOptions"
                      [legend]="chartLegend"
                      [chartType]="chartType"
                      [colors]="colors"
                      (chartClick)="chartClicked($event)">
              </canvas>
            </div>
          </td>
        </ng-template>
      </tr>
    </ng-container>
  </tbody>
</table>
