<h1>Configuration's settings</h1>
<p>A list of system configuration:</p>

<!--<p>Slide Toggle inside of a Template-driven form</p>

<form class="example-form" #form="ngForm" (ngSubmit)="onFormSubmit()" ngNativeValidate>

  <mat-slide-toggle ngModel name="enableWifi">Enable Wifi</mat-slide-toggle>
  <mat-slide-toggle ngModel name="acceptTerms" required>Accept Terms of Service</mat-slide-toggle>

  <button mat-raised-button type="submit">Save Settings</button>
</form>

<p>Slide Toggle inside of a Reactive form</p>-->

<form class="example-form" [formGroup]="formGroup" (ngSubmit)="onFormSubmit()" ngNativeValidate>

  <mat-slide-toggle formControlName="acceptTerms" color="primary">Accept Terms of Service</mat-slide-toggle><br />
  <mat-slide-toggle formControlName="enableRTD" color="primary">Enable real-time data details on open surveys</mat-slide-toggle>
  <br /><br /><br /><br />
  <button mat-raised-button type="submit">Save Settings</button>
</form>
